<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <h1><%= @movie.title %></h1>
    <h3><%= @movie.rating %></h3>
    <%= image_tag @movie.poster_url, alt: "poster", width: 200 %>
    <h3>Resume: <%= @movie.overview %></h3>
  </div>
  <%= link_to  "retour", movies_path%>
</div>
